.modal-header-success{
    padding: 5px 15px;
    background-color: #28a745;
    height: 50px;
    
}
.modal-header-edit{
    padding: 5px 15px;
    background-color: #007bff;
    height: 50px;
    
}
.modal-header-delete{
    padding: 5px 15px;
    background-color: #dc3545;
    height: 50px; 
}
.modal-title{
    font-size: 18px;
    color: #fff;
}
.modal-footer{
    padding: 5px 15px;
}

.actionBtnContainer{
    display: flex;
    align-items: center;
}

.actionBtnContainer > button{
    border: 0;
    margin: 0 5px;
    font-size: 14px;
}
